body{
    background-color: brown;
}

.caixa{
    border-radius: 3rem;
    padding: 10vh;
    margin-left: 29rem;
    background-color: purple;
    height: 300px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    background-color: bisque;
    border-radius: 4px;
}
