body{
    display: flex;
    background-color: brown;
    justify-content: center;
    align-items: center;
}

.caixa{
    display: grid;
    border-radius: 1rem; 
    padding: 3rem;
    background-color: #6a4e7c; 
    height: 50vh;
    width: 30vh;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
    overflow-y: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button{
    background-color: bisque;
    border-radius: 4px;
}

input{
    padding: 5px;
}
li{
    color: orange;
}

